.error {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  background-color: #545050;
}

.error__title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
